:host {
  .c-login-container {
    width: 25rem;
    border-radius: 0.5rem;
    @media (max-width: 769px) {
      width:20rem;
    }
  }
  .c-main-container {
    min-height: calc(100vh - 11.25rem);
  }
}
