:host {
  .c-link-back {

  }
  .c-price-holder {
    background-color: var(--surface-100);
    padding: 4px;
  }
  ::ng-deep {
    .p-fileupload .p-button {
      border: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      padding: 13px;
    }

    .p-inputgroup-addon {
      padding: 0;
      border: 0;
    }
  }
}
